/*============================================================
                Define variables for applied colors
==============================================================*/
$color-white: #fff;
$color-green: #40a251;
$color-purple: #85144b;
$color-gray: #cbcbcb;