.orderActions {
    background-color: #fff;
    float: left;
    width: 100%;
    text-align: right;
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 3rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}