/*============================================================
                      Define IMPORTS
==============================================================*/
@import "../../assets/sass/abstracts/variables";
/*============================================================*/

.loginForm {
  padding: 50px 0;

  & button {
    background: linear-gradient(90deg, #3f9af3 0%, #1a6dc3 100%);
    color: $color-white;
    
    &:hover {
      color: $color-white;
    }
  }
}
